@include('includes/header')
<body>
@include('includes/navbar')
<!-- Main content -->
<div class="container">
    <div class="page-heading">
            <button class="btn btn-primary pull-right ml-5" type="button" data-toggle="modal" data-target="#addBill"><span><i class="mdi mdi-plus-circle-outline"></i></span> {{__('bills.button.add-bill')}} </button>
        <div class="heading-content">
            <div class="user-image">
                @if(empty($user->avatar))
                <img src="{{ asset('assets/images/avatar.png') }}" class="img-circle img-responsive">
                @else
                <img src="{{ asset('uploads/avatar/'.$user->avatar) }}" class="img-circle img-responsive">
                @endif
            </div>
            <div class="heading-title">
                <h2>{{__('bills.heading.welcome')}}, {{$user->fname}} {{$user->lname}}</h2>
                <p>{{__('bills.heading.intro')}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h4>{{__('bills.bills-table.bill-records')}}</h4>
              </div>
              <div class="card-body">
                  <div class="table-responsive longer">
                      <table class="table display" id="datatable">
                          <thead>
                              <tr>
                                  <th width="15%">{{__('bills.bills-table.name')}}</th>
                                  <th>{{__('bills.bills-table.amount')}}</th>
                                  <th>{{__('bills.bills-table.bill-status')}}</th>
                                  <th>{{__('bills.bills-table.paid-status')}}</th>
                                  <th>{{__('bills.bills-table.added')}}</th>
                                  <th>{{__('bills.bills-table.updated')}}</th>
                                  <th></th>
                              </tr>
                          </thead>
                          <tbody>
                          @if(!empty($billArr))
                            @foreach($billArr as $billsArr)                             
                              <tr>
                                  <td><strong>{{$billsArr['title']}}</strong><br>
                                    @if(empty($billsArr['categoryname']))
                                    <span class="text-danger">{{__('bills.bills-table.other')}}<br/></span>
                                    @else
                                    <span class="text-danger">{{ $billsArr['categoryname']}}<br/></span>
                                    @endif
                                    @if(empty($billsArr['accountname']))
                                    <span>{{__('bills.bills-table.other')}}<br/></span>
                                    @else
                                    <span>{{ $billsArr['accountname']}}<br/></span>
                                    @endif
                                </td>
                                <td><strong>{{ money($billsArr['amount'])}}</strong></td>
                                <td>
                                  @if($billsArr['bill_status'] == '0')
                                  <span class="label label-danger text-white">{{__('bills.bills-table.unpaid')}}</span>
                                  @elseif($billsArr['bill_status'] == '1')
                                  <span class="label label-info text-white">{{__('bills.bills-table.paid')}}</span>
                                  @endif
                                </td>
                                <td>
                                    @if($billsArr['status'] == '0')
                                    <span class="label label-danger text-white">{{__('bills.bills-table.inactive')}}</span>
                                    @elseif($billsArr['status'] == '1')
                                    <span class="label label-info text-white">{{__('bills.bills-table.active')}}</span>
                                    @endif
                                  </td>
                                  <td><span>{{date('M d, Y', strtotime($billsArr['date_added']))}}</span></td>
                                  <td><span>
                                    @if($billsArr['date_updated'] == '0000-00-00 00:00:00')
                                    {{__('bills.bills-table.never')}}
                                    @else
                                    {{date('M d, Y', strtotime($billsArr['date_updated']))}}
                                    @endif
                                    </span>
                                  </td>
                                  <td>
                                      <div class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{__('bills.bills-table.actions')}} <span class="caret"></span> </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="c-dropdown__item dropdown-item fetch-display-click" url="{{ url('Bills@view') }}" data="csrf-token:{{csrf_token()}}|billid:{{$billsArr['id']}}" holder=".update-form" modal="#update" href=""><i class="mdi mdi-eye"></i> {{__('bills.bills-table.view')}}</a></li>
                                            <li><a class="c-dropdown__item dropdown-item fetch-display-click" url="{{ url('Bills@payView') }}" data="csrf-token:{{csrf_token()}}|billid:{{$billsArr['id']}}|type:{{0}}" holder=".update-form" modal="#update" href=""><i class="mdi mdi-pencil"></i> {{__('bills.bills-table.edit')}}</a></li>
                                            @if($billsArr['status'] != '0' && $billsArr['bill_status'] != '1')
                                            <li><a class="c-dropdown__item dropdown-item fetch-display-click" url="{{ url('Bills@payView') }}" data="csrf-token:{{csrf_token()}}|billid:{{$billsArr['id']}}|type:{{1}}" holder=".update-form" modal="#update" href=""><i class="mdi mdi-cash"></i> {{__('bills.bills-table.pay')}}</a></li>
                                            @elseif($billsArr['status'] != '0' && $billsArr['bill_status'] == '1')
                                            <li><a class="c-dropdown__item dropdown-item fetch-display-click" url="{{ url('Bills@payView') }}" data="csrf-token:{{csrf_token()}}|billid:{{$billsArr['id']}}|type:{{1}}|advance:{{1}}" holder=".update-form" modal="#update" href=""><i class="mdi mdi-cash"></i> Pay in advance</a></li>
                                            @endif
                                            <li><a class="send-to-server-click" data="csrf-token:{{csrf_token()}}|billid:{{$billsArr['id']}}" url="{{ url('Bills@delete') }}" warning-title="{{__('bills.messages.are-you-sure')}}" warning-message="{{__('bills.messages.delete')}}" warning-button="{{__('bills.messages.continue')}}" loader="true"><i class="mdi mdi-delete"></i> {{__('bills.bills-table.delete')}}</a></li>
                                        </ul>
                                      </div>
                                  </td>
                              </tr>
                              @endforeach
                          @else
                          <tr>
                            <td colspan="7" class="text-center">{{__('bills.bills-table.empty')}}</td>
                          </tr>
                          @endif
                          </tbody>
                      </table>
                  </div>
              </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
              <div class="card-header">
                <h4>{{__('bills.info-box.bill-progress')}}</h4>
              </div>
              <div class="card-body">
                  <section class="text-center mt-15">
                    <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
                      <circle class="circle-chart__background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                      <circle class="circle-chart__circle" stroke="#F4BE4A" stroke-width="2" stroke-dasharray="{{ $stats['percentage'] }},100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                      <g class="circle-chart__info">
                        <text class="circle-chart__percent" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8">{{ $stats['percentage']}}%</text>
                      </g>
                    </svg>
                    <div class="chart-insights">
                    <p>{{__('bills.info-box.you-have-paid')}} <strong>{{ $stats['bill_payment_count']}}</strong> {{__('bills.info-box.out-of')}} <strong>{{ $stats['bill_count']}}</strong> {{__('bills.info-box.bills-this-month')}}</p>
                    <p>{{__('bills.info-box.you-have-paid')}} <strong>{{ $stats['bill_amount_paid']}}</strong> {{__('bills.info-box.out-of')}} <strong>{{ $stats['bill_amount_total']}}</strong> </p>
                    </div>
                  </section>
                  <div></div>
              </div>
            </div>
        </div>
    </div>


  <!-- footer -->
  @include('includes/footer')
</div>



    <!-- view edit modal -->
    <div class="modal fade" id="update" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="update-form"></div>
      </div>
    </div>
    <!-- scripts -->
    <!-- <script src="assets/js/jquery-3.2.1.min.js"></script> -->
    <script src="{{ url('') }}lang/{{env('APP_LOCALE_DEFAULT')}}/simcify-lang.js"></script> <!-- js language translation -->
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>
    <script src="{{asset('assets/libs/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('assets/js//jquery.slimscroll.min.js')}}"></script>
    <script src="{{asset('assets/js/simcify.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.22/sorting/datetime-moment.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.22/sorting/currency.js"></script>
    <!-- custom scripts -->
    <script src="{{asset('assets/js/app.js')}}"></script>
    <script src="{{ url('') }}lang/{{env('APP_LOCALE_DEFAULT')}}/lang.js"></script> <!-- js language translation -->
    <script>
        $(document).ready(function() {
            $.fn.dataTable.moment("MMM DD, YYYY");
            $('#datatable').DataTable({
                dom: 'Bfrltip',
                lengthMenu: [5, 10, 20, 50, 100],
                columnDefs: [
                  { type: 'currency', targets: 2 }
                ],
                order: [[ 1, 'desc']],
                buttons: [{
                extend: 'copyHtml5',
                exportOptions: {
                    columns: [ 0, 1, 2 ],
                    stripNewlines: false,
                },
            },
            {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: [ 0, 1, 2 ],
                },
            },
            {
                extend: 'pdfHtml5',
                exportOptions: {
                    columns: [ 0, 1, 2 ],
                    stripNewlines: false,
                    },
                    customize : function(doc) {
                        doc.content[1].table.widths = [ '60%', '20%', '20%',];
                    }
            }
                ],
                language: {
                    url: '{{ url('') }}lang/{{env('APP_LOCALE_DEFAULT')}}/table_lang.json'
                }
            });
        });

    </script>
</body>
</html>