<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">{{ sprintf(__('loans.info-box.view'), ( $loans->title )) }}</h4>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive longer">
                    <table class="table display" id="datatable">
                        <thead>
                            <tr>
                                <th>{{__('loans.loans-table.date-paid')}}</th>
                                <th>{{__('loans.loans-table.amount')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(!empty($loanPayment))
                            @foreach($loanPayment as $loanPayments)
                            <tr>
                                <td>{{ date('F j, Y', strtotime($loanPayments->expense_date)) }}</td>
                                <td>{{ money($loanPayments->amount) }}</td>
                            </tr>
                            @endforeach
                            <tr>
                                <td><strong>{{__('loans.loans-table.total')}}</strong></td>
                                <td><strong>{{ money($total_paid) }}</strong></td>
                                @else
                            <tr>
                                <td colspan="2">{{__('loans.loans-table.no-history')}}</td>
                            </tr>
                            @endif
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{__('loans.button.close')}}</button>
    </div>
</div>